.login-form--style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form--style .input-field label {
  color: white !important;
}
